@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



@font-face {
  font-family: 'Trap';
  src: url('/fonts/Trap-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Trap';
  src: url('/fonts/Trap-SemiBold.otf') format('truetype');
  font-weight: 600;
  font-style: normal;
}




body {
  scroll-behavior: smooth;
  font-family: 'Trap', sans-serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



.custom-font {
  font-family: 'Trap', sans-serif;
  font-weight: regular;
}
.custom-font-bold {
  font-family: 'Trap', sans-serif;
  font-weight: 600;
}



.arrow-container {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
}

.arrow-1 {
  width: 100px;
  height: 100px;
  background: #D0EA50;
  opacity: 0.5;
  border-radius: 50%;
  position: absolute;
  animation: zoomIn 2s infinite;
}

.arrow-2 {
  width: 60px;
  height: 60px;
  background: #D0EA50;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
  display: flex; /* Changed from display: table to flex for better centering */
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
}


/* Custom Animate.css */

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.4, .4, .4);
            transform: scale3d(.4, .4, .4);
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(.4, .4, .4);
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}

.zoomIn {
  animation: zoomIn 2s infinite; /* Infinite animation */
}
